<div>
  <h1>Reactive Form</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input 
      type="email" 
      [formControl]="email" 
      placeholder="Enter your email"
    >
    
    <div *ngIf="email.errors">
      <span style="color: red;" *ngIf="email.errors && (email.touched || email.dirty)">
        <span *ngIf="email.errors['required']">Email is required</span>
        <span *ngIf="email.errors['invalidKeyword']">This email is reservated</span>
      </span>
    </div>

    <input 
      type="password" 
      [formControl]="password" 
      placeholder="Enter your password"
    >

    <div *ngIf="password.errors">
      <span style="color: red;" *ngIf="password.errors && (password.touched || password.dirty)">
        <span *ngIf="password.errors['required']">Password is required</span>
        <span *ngIf="password.errors['minlength']">Password must be greater than 8 characters</span>
      </span>
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Log In</button>
  </form>
</div>